[% WRAPPER "layout.tt" title=l('Page Not Found') full_width=1 %]
    <div id="content" class="wikicontent">
        [%- IF google_custom_search -%]
          [%- wikidoc_search_box -%]
        [%- END -%]

        <h1>[%- l('Page Not Found') -%]</h1>

        <p>
            <strong>
                [%- l('Sorry, “{id}” is not a valid documentation page.',
                     { id => replace(id,'_',' ') }) -%]
            </strong>
        </p>

        <p>
            [%- l('Looking for help? Check out our {doc|documentation} or {faq|FAQ}.',
                 { doc => doc_link('MusicBrainz_Documentation'),
                   faq => doc_link('Frequently_Asked_Questions') }) -%]
        </p>

        <p>
            [%- l('Found a broken link on our site? Please let us know by {report|reporting a bug}.',
                 { report => display_url("http://tickets.musicbrainz.org/secure/CreateIssue.jspa?pid=10000&issuetype=1&description=Broken+link:" _ url_escape(c.req.uri) _ "+Referer:" _ url_escape(c.req.referer)) })-%]
        </p>
    </div>
[%- END -%]
