[%- USE Diff -%]

[%- MACRO display_diff(label, old, new, split) BLOCK -%]
  [%- IF old != new -%]
    [%- split = split || '' -%]
    <tr>
      <th>[% label %]</th>
      <td class="old">[% Diff.diff_side(old, new, '-', split) %]</td>
      <td class="new">[% Diff.diff_side(old, new, '+', split) %]</td>
    </tr>
  [%- END -%]
[%- END -%]

[%- MACRO display_word_diff(label, old, new) BLOCK;
       display_diff(label, old, new, '\s+');
    END -%]

[%- MACRO display_html_diff(label, old, new) BLOCK -%]
  [%- IF old != new -%]
    <tr>
      <th>[% label %]</th>
      <td class="old">[% Diff.diff_html_side(old, new, '-') %]</td>
      <td class="new">[% Diff.diff_html_side(old, new, '+') %]</td>
    </tr>
  [%- END -%]
[%- END -%]

[%- MACRO display_full_change(label, old, new) BLOCK -%]
  [%- IF old != new -%]
    <tr>
      <th>[% label %]</th>
      <td class="old">[% old %]</td>
      <td class="new">[% new %]</td>
    </tr>
  [%- END -%]
[%- END -%]

[%- MACRO relationship_date_text(relationship) BLOCK;
     IF !relationship.link.begin_date.is_empty;
       IF !relationship.link.end_date.is_empty;
         IF relationship.link.begin_date.format == relationship.link.end_date.format;
           IF relationship.link.begin_date.day;
             l('on {date}', { date => relationship.link.begin_date.format });
           ELSE;
             l('in {date}', { date => relationship.link.begin_date.format });
           END;
         ELSE;
             l('from {begin_date} until {end_date}', {
                  begin_date => relationship.link.begin_date.format,
                  end_date => relationship.link.end_date.format
              });
         END;
       ELSIF relationship.link.ended;
         l('from {date} to ????', { date => relationship.link.begin_date.format });
       ELSE;
         l('from {date} to present', { date => relationship.link.begin_date.format });
       END;
     ELSIF !relationship.link.end_date.is_empty;
       l('until {date}', { date => relationship.link.end_date.format });
     ELSIF relationship.link.ended;
       l('(ended)');
     END;
   END; -%]

[%- MACRO relationship_extra_attributes(relationship) BLOCK -%]
[%- IF relationship.extra_verbose_phrase_attributes -%]
([% relationship.extra_verbose_phrase_attributes %])
[%- END -%]
[%- END -%]

[%~ MACRO differences_span(old_rel, new_rel, entity_prop, side, class) BLOCK ~%]
    [%~ old_entity = old_rel.$entity_prop;
        new_entity = new_rel.$entity_prop;
        credit_prop = entity_prop _ '_credit' ~%]
    <span class="[% class IF old_entity.id != new_entity.id %]">
        [% descriptive_link(old_entity, old_rel.$credit_prop) IF side == "old" %]
        [% descriptive_link(new_entity, new_rel.$credit_prop) IF side == "new" %]
    </span>
[%~ END ~%]

[%- MACRO display_relationship_differences(label, old_rel, new_rel) BLOCK -%]
  <tr>
    <th rowspan="2">[% l('Relationship:') %]</th>

    <td class="old">
      [% expand(Diff.diff_html_side(old_rel.verbose_phrase_with_placeholders,
                                    new_rel.verbose_phrase_with_placeholders, '-', '\s+'), {
            entity0 => differences_span(old_rel, new_rel, 'source', 'old', 'diff-only-a'),
            entity1 => differences_span(old_rel, new_rel, 'target', 'old', 'diff-only-a')
        }) %]
      [% Diff.diff_side(relationship_date_text(old_rel), relationship_date_text(new_rel), '-') %]
      [% Diff.diff_side(relationship_extra_attributes(old_rel), relationship_extra_attributes(new_rel), '-') %]
    </td>
  </tr>
  <tr>
    <td class="new">
      [% expand(Diff.diff_html_side(old_rel.verbose_phrase_with_placeholders,
                                    new_rel.verbose_phrase_with_placeholders, '+', '\s+'), {
            entity0 => differences_span(old_rel, new_rel, 'source', 'new', 'diff-only-b'),
            entity1 => differences_span(old_rel, new_rel, 'target', 'new', 'diff-only-b')
        }) %]
      [% Diff.diff_side(relationship_date_text(old_rel), relationship_date_text(new_rel), '+') %]
      [% Diff.diff_side(relationship_extra_attributes(old_rel), relationship_extra_attributes(new_rel), '+') %]
    </td>
  </tr>
[%- END -%]

[%- MACRO display_edit_artwork(artwork, release, colspan) BLOCK -%]
  <tr>
    <th>[% l('Cover art:') %]</th>
    <td class="edit-cover-art"[% IF colspan %] colspan="[% colspan %]"[% END %]>
      [%- history_message = '';
          IF release.gid;
            history_message = l('We are unable to display history for this cover
              art. For a current listing of cover art, please see the
              {coverart|release\'s cover art page}.',
              { coverart => c.uri_for_action('/release/cover_art', [ release.gid ]) });
          ELSE;
            history_message = l('We are unable to display history for this cover art.');
          END;
      -%]

      [%- display_artwork(edit.display_data.artwork, undef, history_message) -%]
    </td>
  </tr>
[%- END -%]

[%- MACRO ac_row(row_counter, startnum, endnum, thisac) BLOCK -%]
  <tr class="[% row_counter % 2 == 0 ? 'even' : '' %]">
    <td class="pos t">
      [% startnum %][% IF endnum AND endnum != startnum %]-[% endnum %][% END %]
    </td>
    <td>[% thisac %]</td>
  </tr>
[%- END -%]

[%- MACRO display_condensed_track_acs(tracks) BLOCK;
    thisac = 0;
    thispos = 0;
    row_counter = 1;
    startnum = tracks.0.number;
    FOR track=tracks;
        IF thisac AND (thisac != expanded_artist_credit(track.artist_credit) OR thispos + 1 != track.position);
            ac_row(row_counter, startnum, endnum, thisac);
            row_counter = row_counter + 1;
            startnum = track.number;
            endnum = startnum;
        ELSE;
            endnum = track.number;
        END;
        thisac = expanded_artist_credit(track.artist_credit);
        thispos = track.position;
        IF loop.last();
            ac_row(row_counter, startnum, endnum, thisac);
        END;
    END;
END -%]

[%- MACRO ac_diff_row(row_counter, startnum, endnum, oldac, newac) BLOCK -%]
  <tr class="[% row_counter % 2 == 0 ? 'even' : '' %]">
    <td class="pos t">
      [% startnum %][% IF endnum AND endnum != startnum %]-[% endnum %][% END %]
    </td>
    <td>[% oldac %]</td>
    <td>[% newac %]</td>
  </tr>
[%- END -%]

[%- MACRO display_condensed_track_acs_diff(changes) BLOCK;
    oldac = 0;
    newac = 0;
    thispos = 0;
    row_counter = 1;
    startnum = changes.0.2.number;
    FOR change=changes;
        old_track = change.1;
        new_track = change.2;
        IF (oldac AND oldac != expanded_artist_credit(old_track.artist_credit)) OR (newac AND newac != expanded_artist_credit(new_track.artist_credit)) OR ((newac OR oldac) AND thispos + 1 != new_track.position);
            ac_diff_row(row_counter, startnum, endnum, oldac, newac);
            row_counter = row_counter + 1;
            startnum = new_track.number;
            endnum = startnum;
        ELSE;
            endnum = new_track.number;
        END;
        oldac = expanded_artist_credit(old_track.artist_credit);
        newac = expanded_artist_credit(new_track.artist_credit);
        thispos = new_track.position;
        IF loop.last();
            ac_diff_row(row_counter, startnum, endnum, oldac, newac);
        END;
   END;
END -%]
